APP_NAME=industrial-backend-template
SERVER_PORT=3210
DB_URL=jdbc:postgresql://localhost:5432/industrial_app
DB_USERNAME=postgres
DB_PASSWORD=postgres
FRONTEND_ORIGIN=http://localhost:4200
FRONTEND_ORIGIN_ALT=http://127.0.0.1:4200
PLC_ENABLED=false
PLC_CONNECTION_STRING=eip://192.0.2.10:44818?backplane=1&slot=0
PLC_TIMEOUT=5s
SWAGGER_ENABLED=false
