APP_NAME=LogicOTI
SERVER_PORT=3210

DB_URL=jdbc:postgresql://localhost:5432/LogicOTI
DB_USERNAME=postgres
DB_PASSWORD=CAMBIAR_LOCALMENTE

FRONTEND_ORIGIN=http://localhost:4200
FRONTEND_ORIGIN_ALT=http://127.0.0.1:4200

PLC_ENABLED=false
PLC_CONNECTION_STRING=logix:tcp://192.168.70.235?backplane=1&slot=0
PLC_TIMEOUT=5s

CAMERAS_ENABLED=true
CAMERA_PLAYBACK_BASE_URL=http://192.168.5.66:8889
CAMERA_AVAILABLE_STREAMS=oti-cam-01

SWAGGER_ENABLED=false
JWT_SECRET=CAMBIAR_POR_UN_SECRETO_LARGO_Y_ALEATORIO
JWT_EXPIRATION_SECONDS=3600
